<div>

<h2> Table </h2>
<table>
<caption>Example</caption>
  <tr>
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
  </tr>
  <tr>
    <td>Amazon</td>
    <td>Netflix</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Netflix</td>
    <td>Francisco</td>
    <td>Mexico</td>
  </tr>
</table>

<h2>Lists</h2>
<h4>Unordered List</h4>
<ul>
<li>item 1</li>
<li>item 2</li>
<li>item 3</li>

<h4>Ordered List</h4>
<ol>
<li>item 1</li>
<li>item 2</li>
<li>item 3</li>
</ol>

<h4>Description List</h4>
<dl>
  <dt><b>Coffee</b></dt>
  <dd>- black hot drink</dd>
  <dt><b>Milk</b></dt>
  <dd>- white cold drink</dd>
</dl>

</div>

