<div class="login-form" style="text-align:center;">

<h1>Welcome to log in page!</h1>

<form >
  <label for="email">E-mail:</label><br>
  <input type="text" name="email"><br>
  <label for="password">Password:</label><br>
  <input type="text" name="password"><br>
  <input type="submit" value="Submit" style="margin:10px;"><br>
</form>

<a href="/sign-up">Sign up</a>

</div>
