<div class="login-form" style="text-align:center;">

<h1>Welcome to sign up page!</h1>

<form >
  <label for="email">E-mail:</label><br>
  <input type="text" name="email"><br>
  <label for="name">Name:</label><br>
  <input type="text" name="name"><br>
  <label for="phone">Phone:</label><br>
  <input type="text" name="phone"><br>
  <label for="password">Password:</label><br>
  <input type="text" name="password"><br>
  <label for="cnfm-password">Confirm Password:</label><br>
  <input type="text" name="cnfm-password"><br>
  <input type="submit" value="Submit" style="margin:10px;"><br>
</form>

</div>