<div class="login-form" style="text-align:center;">

<h1><span style="color:rgb(159, 212, 245);">Register</span> Yourself</h1>

<div class="card">

<h2>SIGN UP</h2>

<form >
  <label for="email">E-mail:</label><br>
  <input id="input_field" type="text" name="email"><br>
  <label for="name">Name:</label><br>
  <input id="input_field" type="text" name="name"><br>
  <label for="phone">Phone:</label><br>
  <input id="input_field" type="text" name="phone"><br>
  <label for="password">Password:</label><br>
  <input id="input_field" type="text" name="password"><br>
  <label for="cnfm-password">Confirm Password:</label><br>
  <input id="input_field" type="text" name="cnfm-password"><br>
  <input id="button" type="submit" value="Submit" style="margin:10px;"><br>
</form>

<p>Already registered? <a href="/" style="color: rgb(159, 212, 245);">Sign in.</a><p>

</div>

</div>