    <p>
        <strong>Name:</strong>
        <%= @user.name %>
    </p>

    <p>
        <strong>Address:</strong>
        <%= @user.address %>
    </p>

    <p>
        <strong>Phone:</strong>
        <%= @user.phone %>
    </p>

    <br><br>
    <%= link_to("Go to all users",users_path) %>
